@model OBS.MVC.Models.Fakulte
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Fakülte Düzenle";
}
<h2>Fakülte Düzenle</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Fakülte Bilgisi</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Ad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ad)
                @Html.ValidationMessageFor(model => model.Ad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adres)
                @Html.ValidationMessageFor(model => model.Adres)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Fakülte Listesine Dön", "FakulteListesi")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
