@model OBS.MVC.Models.Donem

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Dönem Detayı";
}

<h2>Dönem Detayı</h2>

<div>
    <h4>Dönem Bilgisi</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Yil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonemTip)
        </dt>

        <dd>
            @OBS.MVC.Helpers.EnumHelper.GetirDonemAdi(Model.DonemTip);
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "DOnemDuzenle", new { id = Model.Id }) |
    @Html.ActionLink("DÖnem Listesine Dön", "DonemListesi")
</p>
