@model OBS.MVC.Models.Ogrenci

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Öğrenci Sil";
}

<h2>Öğrenci Sil</h2>

<h3>Bu öğrenciyi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bolum.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolum.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KimlikNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KimlikNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPosta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogumTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogumTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GirisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GirisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CikisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CikisTarih)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Bölümün Öğrenci Listesine Dön", "BolumunOgrencileri", new { id = Model.BolumId })
        </div>
    }
</div>
