@model OBS.MVC.Models.Bolum

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Bölüm Ekle";
}

<h2>Bölüm Ekle</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bölüm Bilgisi</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FakulteId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FakulteId, (IEnumerable<SelectListItem>)ViewBag.Fakulteler)
                @Html.ValidationMessageFor(model => model.FakulteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ad)
                @Html.ValidationMessageFor(model => model.Ad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adres)
                @Html.ValidationMessageFor(model => model.Adres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kod, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kod)
                @Html.ValidationMessageFor(model => model.Kod)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Bölüm Listesine Dön", "BolumListesi")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
